.table-row {
  display: flex;
  list-style-type: none;
  border-left: 1px solid #cbd5e1;
  border-bottom: 1px solid #cbd5e1;
  border-right: 1px solid #cbd5e1;
}

.table-cell {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 32px;
  display: flex;
  align-items: center;
}

.name-column {
  width: 33%;
}

.location-column {
  width: 33%;
}

.delete-column {
  width: 33%;
}

.delete-button {
  background-color: #0ea5e9;
  color: #ffffff;
  font-family: 'Roboto';
  border: none;
  border-radius: 10px;
  padding: 8px;
}
